<div class="address-autocomplete-container">
  <input
    ref="{{ ctx.ref.searchInput }}"
    {% for (var attr in ctx.inputAttributes) { %}
      {{attr}}="{{ctx.inputAttributes[attr]}}"
    {% } %}
    value="{{ ctx.displayValue }}"
    autocomplete="off"
    aria-label="{{ctx.t('autocomplete')}}"
  >
  {% if (!ctx.component.disableClearIcon) { %}
    <i
      class="address-autocomplete-remove-value-icon fa fa-times"
      tabindex="{{ ctx.inputAttributes.tabindex }}"
      ref="{{ ctx.ref.removeValueIcon }}"
    ></i>
  {% } %}
</div>
{% if (!ctx.hasApiKey) { %}
    <div class="form-text">Please provide an API key in Provider to use the search function.</div>
{% } %}
{% if (ctx.self.manualModeEnabled) { %}
  <div class="form-check checkbox">
    <label class="form-check-label">
      <input
        ref="{{ ctx.ref.modeSwitcher }}"
        type="checkbox"
        class="form-check-input"
        tabindex="{{ ctx.inputAttributes.tabindex }}"
        {% if (ctx.mode.manual) { %}checked=true{% } %}
        {% if (ctx.disabled) { %}disabled=true{% } %}
      >
      <span>{{ ctx.component.switchToManualModeLabel }}</span>
    </label>
  </div>
{% } %}
{% if (ctx.self.manualModeEnabled && ( ctx.mode.manual || ctx.displayValue)) { %}
  <div ref="{{ ctx.nestedKey }}" class="address-nested">
    {{ ctx.children }}
  </div>
{% } %}
{% if (ctx.mode.manual) { %}
<div>
  <!-- Todo Link/function to improve the address database -->
  <!-- <p><a href="#" target="_blank">Please take part to improve our address database if we couldn't find your address.</a></p> -->
</div>
{% } %}